<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Edit</h1>
<form action="/mongooses/<%=animals._id%>" method="post">

	Name: <input type="text" name="name">
	<input type="submit" name="submit">
</form>
<p><%=animals%></p>
</body>
</html>